<section id="dashboard-view" class="mainbar">
    <h3>Login</h3>
    <form class="form-horizontal" name="loginForm" novalidate>
        <div class="form-group">
                <label class="col-md-2 control-label"
                       for="login">Login</label>
                <div class="col-md-4">
                    <input class="form-control"
                           ng-class="{'has-error': loginForm.login.$invalid}"
                           id="login"
                           name="login"
                           type="text"
                           placeholder="login"
                           ng-model="vm.loginData.login" required />
                    <span class="help-block has-error" ng-show="loginForm.login.$invalid 
                    && loginForm.login.$dirty">
                        Login is required
                    </span>       
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="password">Password</label>
                <div class="col-md-4">
                    <input class="form-control"
                           id="password"
                           name="password"
                           ng-class="{'has-error': loginForm.password.$invalid}"
                           ng-model="vm.loginData.password" required>
                    <span class="help-block has-error" ng-show="loginForm.password.$invalid 
                    && loginForm.password.$dirty">
                        Password is required
                    </span> 
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="voip">VOIP</label>
                <div class="col-md-4">
                    <input class="form-control"
                           id="voip"
                           name="voip"
                           ng-class="{'has-error': loginForm.voip.$invalid}"
                           ng-model="vm.loginData.voip" required>
                    <span class="help-block has-error" ng-show="loginForm.voip.$invalid 
                    && loginForm.voip.$dirty">
                        Voip is required
                    </span> 
                </div>
            </div>
            <span class="help-block has-error" ng-show="vm.isError">{{vm.errorMessage}}</span>
            <button class="btn btn-default" ng-click="vm.login()">Submit</button>        
    </form>
     
</section>    